$font-family: 'Play', system-ui, sans-serif;
$color-black: rgba(0, 0, 0, 0.87);
$color-primary: #b68d40;
$color-primary-dark: #8c6b2d;
$color-background: #f5efe6;
$color-light-text: #5a4634;
$color-border: #d4b886;
$color-hover: #a47836;
$color-shadow: rgba(0, 0, 0, 0.1);
$button-text-color: white;
$modal-background: white;
@use "sass:color";
